<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Jekyll</string>
	<key>uuid</key>
	<string>2D7F0C50-36F7-444E-9808-D7530B9DE18B</string>
</dict>
</plist>
